In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
cd /content/gdrive/MyDrive/Colab Notebooks/Mini Project/movielens

/content/gdrive/MyDrive/Colab Notebooks/Mini Project/movielens

In [4]:
#import library
import numpy as np
import pandas as pd

In [5]:
#read csv file 
users = pd.read_csv("users.csv", sep=";")
ratings = pd.read_csv("ratings.csv", sep=";")
movies = pd.read_csv("movies.csv", sep=";", encoding="latin")

In [6]:
# top 5 users data
movies.head()

,movieId,title,genres,Unnamed: 3
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN

In [7]:
# Drop unnamed column
movies.drop('Unnamed: 3', axis=1, inplace=True)
movies.head()

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [8]:
# top 5 users data
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [9]:
# top 5 ratings data
users.head()

   userId gender  age  occupation zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7     2460
4       5      M   25          20    55455

In [10]:
data=pd.merge(pd.merge(movies,ratings),users)
print(data)

         movieId                       title  \
0              1            Toy Story (1995)
1             48           Pocahontas (1995)
2            150            Apollo 13 (1995)
3            260                   Star Wars
4            527     Schindler's List (1993)
...          ...                         ...
1000204     3513  Rules of Engagement (2000)
1000205     3535      American Psycho (2000)
1000206     3536    Keeping the Faith (2000)
1000207     3555                U-571 (2000)
1000208     3578            Gladiator (2000)

                                       genres  userId  rating  timestamp  \
0                 Animation|Children's|Comedy       1       5  978824268
1        Animation|Children's|Musical|Romance       1       5  978824351
2                                       Drama       1       5  978301777
3              Episode IV - A New Hope (1977)       1       4  978300760
4                                   Drama|War       1       5  978824195
...                                       ...     ...     ...        ...
1000204                        Drama|Thriller    5727       4  958489970
1000205                Comedy|Horror|Thriller    5727       2  958489970
1000206                        Comedy|Romance    5727       5  958489902
1000207                       Action|Thriller    5727       3  958490699
1000208                          Action|Drama    5727       5  958490171

        gender  age  occupation zip-code
0            F    1          10    48067
1            F    1          10    48067
2            F    1          10    48067
3            F    1          10    48067
4            F    1          10    48067
...        ...  ...         ...      ...
1000204      M   25           4    92843
1000205      M   25           4    92843
1000206      M   25           4    92843
1000207      M   25           4    92843
1000208      M   25           4    92843

[1000209 rows x 10 columns]

In [11]:
data.head()

,movieId,title,genres,userId,rating,timestamp,gender,age,occupation,zip-code
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268,F,1,10,48067
1,48,Pocahontas (1995),Animation|Children's|Musical|Romance,1,5,978824351,F,1,10,48067
2,150,Apollo 13 (1995),Drama,1,5,978301777,F,1,10,48067
3,260,Star Wars,Episode IV - A New Hope (1977),1,4,978300760,F,1,10,48067
4,527,Schindler's List (1993),Drama|War,1,5,978824195,F,1,10,48067

In [12]:
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [13]:
# Drop unnamed column
ratings.drop('timestamp', axis=1, inplace=True)

In [14]:
df = ratings

In [15]:
print(df)

         userId  movieId  rating
0             1     1193       5
1             1      661       3
2             1      914       3
3             1     3408       4
4             1     2355       5
...         ...      ...     ...
1000204    6040     1091       1
1000205    6040     1094       5
1000206    6040      562       5
1000207    6040     1096       4
1000208    6040     1097       4

[1000209 rows x 3 columns]

In [16]:
#getting user id and appending to list
#getting movie id and appending to list
#getting rating value and appending to list
user_data=[]
movie_data=[]
ratings_data=[]
for i in range(df.shape[0]):
    user=(df['userId'].iloc[i])                
    movie=(df['movieId'].iloc[i])               
    rat=(df['rating'].iloc[i])                  
    user_data.append(user)
    movie_data.append(movie)
    ratings_data.append(rat)

In [18]:
from scipy.sparse import csr_matrix
adj_matrix = csr_matrix((ratings_data, (user_data, movie_data)))
adj_matrix.shape

(6041, 3953)

In [19]:
print(adj_matrix)

  (1, 1)	5
  (1, 48)	5
  (1, 150)	5
  (1, 260)	4
  (1, 527)	5
  (1, 531)	4
  (1, 588)	4
  (1, 594)	4
  (1, 595)	5
  (1, 608)	4
  (1, 661)	3
  (1, 720)	3
  (1, 745)	3
  (1, 783)	4
  (1, 914)	3
  (1, 919)	4
  (1, 938)	4
  (1, 1022)	5
  (1, 1028)	5
  (1, 1029)	5
  (1, 1035)	5
  (1, 1097)	4
  (1, 1193)	5
  (1, 1197)	3
  (1, 1207)	4
  :	:
  (6040, 3334)	5
  (6040, 3342)	3
  (6040, 3359)	4
  (6040, 3361)	2
  (6040, 3362)	4
  (6040, 3388)	1
  (6040, 3418)	3
  (6040, 3421)	3
  (6040, 3422)	3
  (6040, 3424)	2
  (6040, 3449)	3
  (6040, 3471)	4
  (6040, 3504)	4
  (6040, 3505)	4
  (6040, 3521)	5
  (6040, 3524)	1
  (6040, 3543)	4
  (6040, 3547)	4
  (6040, 3552)	2
  (6040, 3671)	4
  (6040, 3683)	4
  (6040, 3703)	4
  (6040, 3735)	4
  (6040, 3751)	4
  (6040, 3819)	5

In [25]:
from sklearn.utils.extmath import randomized_svd
import numpy as np 

U, S, VT = randomized_svd(adj_matrix, n_components=5,n_iter=5, random_state=None)
print(U.shape)
print(S.shape)
print(VT.T.shape)

(6041, 5)
(5,)
(3953, 5)

array([[-9.83096424e-23,  7.01371394e-02,  2.35438150e-02, ...,
         2.61526344e-03,  1.16635687e-03,  1.32565863e-02],
       [-9.76145365e-17, -2.09402855e-02, -2.97925161e-02, ...,
         1.87439547e-03,  2.26510295e-03,  5.02206464e-03],
       [-2.85845126e-17, -3.01649784e-02,  1.01884271e-02, ...,
        -1.78328016e-03, -3.52106752e-03, -2.23583116e-02],
       [-7.01293816e-17, -4.86120946e-03,  3.10840676e-02, ...,
        -3.68315726e-04, -1.11138918e-03, -1.27744561e-02],
       [ 6.30384927e-17, -1.24777940e-01, -9.58081155e-03, ...,
         5.26759679e-03,  8.65174302e-04,  1.58885144e-02]])